{% include 'partials/header.twig' %}

{% if userPageProfil == true and userPageProfil.valid == 1 %}
	<div class="header-profil-page">
		<div class="deconnexion-delete toggle">
			{% if userConnected == true %}
				<a href="/deconnexion">deconnexion &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i>
				</a>
				{% if actionUser == true %}
					<button class="delete-account toggle-btn" onclick="deleteAccount({{userConnected.userInfo}})">supprimer mon compte</button>
					<div class="show-btn toggle-btn"></div>
				{% endif %}
			{% endif %}
		</div>
		{{ form_start(form) }}
			{{ form_widget(form.profilsearch) }}
			<button type="submit" name="search-profil" class="btn-search-profil"><i class="fa fa-search" aria-hidden="true"></i></button>
		{{ form_end(form) }}
		<div class="avatar-header-profil">
			{% if userPageProfil.avatar == 'none' %}
				<img src="{{ absolute_url('views/img/avatar.png') }}">
			{% else %}
				<img src="{{ absolute_url('avatar/') }}{{userPageProfil.id}}/{{ userPageProfil.avatar }}">
			{% endif %}
		</div>
		<div class="block-infos-profil">
			<h1>{{ userPageProfil.username }}&nbsp;
			{% if userConnected == true %}
				{% if actionUser == true %}
					<a href="/usr{{ userConnected.userInfo }}/edition" class="editprofil"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
				{% endif %}
			{% endif %}
			</h1>
			<span>Inscrit le : {{ dateUser }}</span><br>
			{% if actionUser == false and userConnected == true %}
				<button class="btn-followed" data-iduser="{{userConnected.userInfo}}" data-idfollower="{{userPageProfil.id}}" {% if followed.value != true %}id="btn-follower"{% else %}id="btn-unfollow"{% endif %}>{{followed.str}}</button>
			{% endif %}
		</div>
		<div class="stat">
			<div class="inline"><span class="nbr">12</span><span>vidéos</span></div>
			<div class="inline"><span class="nbr">12</span><span>followers</span></div>
			<div class="inline"><span class="nbr">12</span><span>followeds</span></div>
		</div>
	</div>

	{% if userConnected == true and actionUser == true %}
			<div class="add_video">
				<a href="/usr{{ userConnected.userInfo }}/add_video"><button class="btn-add-video-header">Ajouter une vidéo</button></a>
			</div>
	{% endif %}
	{% if lastVideo != null %}
	<div class="container container-last-video">
		<div class="row">
			<div class="block-last-video">
				<h3>Dernière vidéo ajoutée</h3>
				<div class="col-md-7">
					<video src="{{ absolute_url('video_h/') }}{{lastVideo.user_id}}/{{lastVideo.file}}" type="application/x-troff-msvideo" autoplay loop controls="controls" preload="none"></video>
				</div>
				<div class="col-md-5 block-info-video">
					<a href="{{ absolute_url('/video') }}{{lastVideo.id}}"><h4>{{lastVideo.name}}</h4></a>
					<p>{{lastVideo.desc}}</p>
					<div class="info-bottom">
						<p>{{dateLastVideo}}</p>
						<span>Catégorie</span> : <a href="/category{{category.id}}">{{category.name}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% else %}
		<div class="add-video-block">
			<h1>Vous n'avez posté aucune vidéo</h1>
			<h3>N'attendez plus, ajoutez en une :) </h3>
			<div class="btn-add-video">
			<a href="/usr{{userConnected.userInfo}}/add_video"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
			</div>
		</div>
	{% endif %}

{% if listOfRecentPost != null %}
	<div class="container">
		<div class="row">
		<h3>Vidéos les plus récentes</h3><br>
		{% for recentVideo in listOfRecentPost %}
			<div class="col-md-4">
				<a href="{{ absolute_url('/video') }}{{recentVideo.id}}" class="recentVideo"></a>
				<a href="{{ absolute_url('/video') }}{{recentVideo.id}}"><h4>{{recentVideo.name}}</h4></a>
				<span>{{userPageProfil.username}}</span>
			</div>
		{% endfor %}
		</div>
	</div>
{% endif %}
	{% if userConnected == true %}
		{% if userConnected.userInfo == userPageProfil.id and listVideoUserFollowed != null %}	
			<div class="container">
				<div class="row">
				<h1>Vidéos de vos fans</h1>
			
						<h3>Vidéos de followers</h3>
						{% for globalInfos in listVideoUserFollowed %}
							{% for globalInfo in globalInfos %}
								<video src="{{ absolute_url('video_h/') }}{{globalInfo.user_id}}/{{globalInfo.file}}" type="application/x-troff-msvideo" height="100px" width="200px" loop controls="controls" preload="none"></video>
							  {{globalInfo.name}}
							  {{globalInfo.username}}
							{% endfor %}
						{% endfor %}
					</div>
			</div>
		{% endif %}
	{% endif %}
{% else %}
	{% include '404.twig' %}
{% endif %}
{% include 'partials/footer.twig' %}
